.left-nav {
  background: $bg-grey-60;
  min-height: 80px;
  width: 275px;
  @media (max-width: 1200px) {
    width: 225px;
  }
  @media (max-width: 767px) {
    display: none;
  }
  .navbar-links {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .col-link {
    display: flex;
    color: #fff;
    text-decoration: none;
    position: relative;
    font-size: 90%;
    text-transform: uppercase;
    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      content: "";
      height: 1px;
      width: 100%;
      @include gradient($bg-grey-60, #4B5259, left);
    }
    &:hover,
    &:visited,
    &:active,
    &:focus {
      text-decoration: none;
      color: inherit;
    }
    &:hover {
        background: darken($bg-grey-60, 2%);
      }
    &.active {
        background: $blue;
        span {
          color: white;
        }
        &:before {
          content: "";
          position: absolute;
          right: -8px;
          top: 0;
          width: 0; 
          height: 0; 
          border-top: 27px solid transparent;
          border-bottom: 27px solid transparent;
          border-left: 8px solid $blue;
          z-index: 1;
        }
      }
    span {
      line-height: 1.5;
      color: $blue;
    }
  }
  .nav-primary {
    text-transform: uppercase;
    font-size: 90%;
  }
  .-is-logged-in {
    background: $bg-grey-40;
    position: relative;
    a {
      text-transform: capitalize;
    }
    .account-info {
      .balance { 
        font-size: 375%;
        font-weight: 100;
        line-height: 4rem;
      }
      .change {
        color: $green;
        font-size: 110%;
        line-height: 1rem;
      }
    }
    ul {
      margin-bottom: 0;
      padding-left: 0;
      .col-link {
        &:after {
          position: absolute;
          top: 0;
          left: 0;
          content: "";
          height: 1px;
          width: 100%;
          @include gradient($bg-grey-40, #5B6168, left);
        }
        &:hover {
          background: darken($bg-grey-40, 2%);
        }
        &.active:hover {
          background: $blue;
        }
      }
    }
    form {
      padding: 1.5em;
      .form-group {
        margin-bottom: .75rem;
        label {
          font-size: 90%;
        }
        input[type="text"] {
          padding: .65rem 1rem;
          &.prefix {
            padding-left: 3.5rem;
          }
        }
        .input-prefix:before {
          width: 38px;
          height: 41px;
          font-size: 100%;
          line-height: 2.5rem;
        }
      }
      .text-link {
        font-size: 80%;
      }
    }
  }
}
