
body {
  @media (max-width: 767px) {
    overflow-x: hidden;
  }
}
.app {
  min-height: 100vh;
  display: flex;
  flex: 1;
  align-items: stretch;
  flex-direction: column;
  &.open {
    .main-content {
      left: 275px;
    }
    .menu-closer {
      display: none;
      @media (max-width: 767px) {
        opacity: .8;
        visibility: visible;
        display: block;
      }
    }
  }
  .menu-closer {
    width: 100%;
    height: 100%;
    background: $bg-grey-100;
    transition: opacity .4s, visibility .4s;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
  }
}

.main-content {
  float: left;
  width: calc(100% - 275px);
  padding: 2rem 2.5rem;
  flex: 1 0 auto;
  background-color: $bg-grey-80;
  @media (max-width: 1200px) {
    width: calc(100% - 225px);
  }
  @media (max-width: 767px) {
    position: absolute;
    width: 100%;
    height: 100%;
    height: 100%;
    left: 0;
    transition: left .4s ease;
    padding: 1.5rem;
    z-index: 1;
  }
  ul {
    padding-left: 0;
    list-style-type: none;
    li {
      background-color: $bg-grey-60;
      padding: .75rem 1.5rem;
      border-radius: 12px;
      &:nth-child(even) {
        background-color: transparent;
      }
      @media (max-width: 767px) {
        padding: .75rem 1rem;
      }
    }
  }
  
  .list-item {
    background-color: $bg-grey-60;
    padding: .75rem 1.5rem;
    border-radius: 12px;
    margin-bottom: 0.25rem;
    @media (max-width: 767px) {
      padding: .75rem 1rem;
    }
  }
  
  .section {
    margin-bottom: 3em;
  }

  .module {
    background-color: $bg-grey-60;
    width: 100%;
    border-radius: 12px;
    p {
      margin-bottom: 0;
      font-size: 90%;
      font-weight: 200;
      line-height: 1.5rem;
    }
  }
  
  .form-text {
    float: right;
    a {
      color: $orange;
      text-decoration: none;
      font-weight: 600;
      cursor: pointer;
      &:hover {
        color: $orange;
        text-decoration: underline;
      }
    }
  }
  
  .module-search {
    position: relative;
    width: 100%;
    input {
      width: 100%;
      height: 30px;
      padding-left: 2.5rem;
      border-radius: 15px;
    }
    &:before {
      font-family: 'icomoon' !important;
      content: "\e905";
      position: absolute;
      left: 10px;
      top: 5px;
      color: $bg-grey-100;
      font-size: 90%;
    }
  }
  
  .export {
    margin-right: .5rem;
    color: $blue;
    &:before {
      font-size: 140%;
    }
  }
}

.text-link {
  color: $blue;
  &:hover {
    text-decoration: none;
  }
}

input[type="text"].prefix {
    padding-left: 4.5rem;
  }

  .input-prefix {
    position: relative;
    &:before {
      content: "@";
      color: $dark-grey;
      text-align: center;
      line-height: 3.25rem;
      font-size: 110%;
      position: absolute;
      left: 0px;
      top: 0px;
      width: 50px;
      height: 52px;
      background-color: $light-grey;
      border-radius: 0.25rem 0 0 0.25rem;
    }
  }